<h2>Create new Genre</h2>
<form method="post" action="#/admin/genre/add">
    <fieldset>
        <legend>Genre</legend>    

        <div class="editor-label">
            <label for="Name">Name</label>        
        </div>
        <div class="editor-field">
            <input type="text" name="Name" />
        </div>

        <div class="editor-label">
            <label for="Description">Description</label>        
        </div>
        <div class="editor-field">
            <input type="text" name="Description" />
        </div>

        <p><input type="submit" value="Create" /></p>
    </fieldset>
</form>

<a href="#/admin/genre">Back</a>