<h2>Genres</h2>

<p><a href="#/admin/genre/add">Create new Genre</a></p>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#genres}}
            <tr>
                <td><a href="#/admin/genre/delete/id">delete</a></td>
                <td><a href="#/admin/genre/edit/id">edit</a></td>
                <td>{{Name}}</td>
                <td>{{Description}}</td>
            </tr>
        {{/genres}}
    </tbody>
</table>